html {
    background-color: rgb(0, 195, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.calculator {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 20%;
    height: 50vh;
    background-color:rgb(109, 135, 143);
}

#displayScreen {
    display: grid;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 90%;
    height:7.5vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: right;
    background-color: black;
}

#input {
    color: rgb(240, 255, 28);
    margin-right: 10px;
}

#output {
    color: rgb(0, 255, 255);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.digit {
    color:rgb(0, 195, 255);
    background-color: rgb(27, 34, 36);
    border-radius: 15px;
    width: 90%;
    height: 5vh;
    margin-top: 5px;
}

.operator {
    color: rgb(0, 195, 255);
    background-color: rgb(29, 55, 63);
    border-radius: 15px;
    width: 90%;
    height: 5vh;
    margin-top: 5px;
}

.equals {
    background-color:rgb(52, 150, 180);
    color:rgb(11, 38, 46);
    border-radius: 15px;
    width: 90%;
    height: 5vh;
    margin-top: 5px;
}